:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #fff;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;
}
.login-box{
	width: 100%; height: 100%; min-width: 750px;
	background: url(../images/login-bg.jpg) no-repeat center top;
	background-size: cover;
	overflow: hidden;
}
.login-dialog{
	width: 750px;
	margin: 0 auto; padding: 280px 350px 0 0;
	overflow: hidden;
}
.login-dialog h1{
	width: 350px; height: 240px; text-indent: -999px; float: left;
	background: url(../images/login-logo.png) no-repeat center center;
}
.login-form{
	position: relative;
	width:302px; height:231px; float: right;
	padding:8px 0 0 90px;
	background: url(../images/login-form.png) no-repeat;
}
.login-form input{
	width: 245px; height: 32px;
	line-height: 32px; color: #fff; font-weight: bold;
	padding: 0 0 0 5px; margin:20px 0 0;
	border:none; background: none;
}
.login-form input.code-input{
	width: 95px;
}
.login-form .login-btn{
	padding: 19px 0 0;
	line-height: 29px;
}
.login-form .login-btn a{
	color: #fff; font-size: 14px;
	display: inline-block;
	text-align: center;
	width: 90px;
	padding-right: 20px;
}
.login-form .login-btn a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.login-form .code-box{
	position: absolute; top:131px; left: 200px;
}
.login-form .code-box a{
	font-size: 12px; color: #fff;
	padding:0 0 0 5px;
	vertical-align: 4px;
}

/*加入必填*/
.mustfilltext {
	color: red;
	width: 392px;
    margin-top: 240px;
    margin-left: 179px;
    text-align: center;
}