.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.btn:focus {
    outline: none
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd
}

.btn-default:hover,.btn-default:active,.btn-default.hover {
    background-color: #e7e7e7
}

.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled.focus,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover {
    background-color: #fff;
    border-color: #ccc
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff
}

.btn-primary:hover,.btn-primary:active,.btn-primary.hover {
    background-color: #367fa9
}

.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
    color: #fff
}

.btn-success:hover,.btn-success:active,.btn-success.hover {
    background-color: #008d4c
}

.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled.focus,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
    color: #fff
}

.btn-info:hover,.btn-info:active,.btn-info.hover {
    background-color: #00acd6
}

.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled.focus,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff
}

.btn-danger:hover,.btn-danger:active,.btn-danger.hover {
    background-color: #d73925
}

.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled.focus,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
    color: #fff
}

.btn-warning:hover,.btn-warning:active,.btn-warning.hover {
    background-color: #e08e0b
}

.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled.focus,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-2x {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5
}

.btn-3x {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 1.42857143
}

.btn-4x {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.3333333
}

.btn.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    opacity: .65
}